*{
    margin: 0;
}


header{
    background-color: orangered;
}



.all{

    text-align: center;
    display: inline-block;
    width:calc(100% - 80px);

     
}


.liste{
    list-style: none;
    margin: 5px;
    padding: 5px;
    word-spacing: 6px;
}

.link{
    display: inline-block;
}


.link a{
    color:wheat;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}




.logo{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    
}




.link a:hover{
    color:black
}

.link a:active{
    color:aliceblue;
}

.link ::before{

    
    content: "\261D";
    color:wheat;

}


.linklink--login a {

    color:white;
    background-color: blue;
}










